<ion-content class="background">
  <div class="intro-section">
    <p>
      Este es el calendario escolar, en el cual podrás ver las fechas importantes del año: 
      días feriados, eventos, clases importantes y más.  
      Selecciona una fecha en el calendario para ver los detalles correspondientes.
    </p>
  </div>
  
  <ng-container *ngIf="isLoading; else calendarioTemplate">
    <div class="loading-container">
      <ion-spinner name="crescent" class="custom-spinner"></ion-spinner>
      <p class="loading-text">Cargando fechas...</p>
    </div>
  </ng-container>

  <ng-template #calendarioTemplate>
    <!-- LEYENDA ARRIBA DEL CALENDARIO -->
    <div class="legend">
      <div class="legend-item">
        <span class="circle red"></span><span>Días feriados e interferiados</span>
      </div>
      <div class="legend-item">
        <span class="circle blue"></span><span>Clases Importantes</span>
      </div>
      <div class="legend-item">
        <span class="circle yellow"></span><span>Eventos escolares</span>
      </div>
    </div>
    
    <!-- CALENDARIO -->
    <ion-datetime 
      firstDayOfWeek="1"
      presentation="date"
      [highlightedDates]="highlightedDates"
      (ionChange)="onDateChange($event)">
    </ion-datetime>

    <!-- Card de detalle de la fecha seleccionada -->
    <ion-card *ngIf="selectedDate">
      <ion-card-header>
        <ion-card-title>Detalles:</ion-card-title>
        <ion-card-title>{{ selectedDate | date:'fullDate' }}</ion-card-title>
      </ion-card-header>
      <ion-list *ngIf="eventosDelDia.length > 0; else sinEventos">
        <ion-item *ngFor="let evento of eventosDelDia">
          <ion-label>
            <h2>{{ evento.tipo }}</h2>
            <p>{{ evento.descripcion }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ng-template #sinEventos>
        <ion-item>
          <ion-label>No hay eventos para esta fecha</ion-label>
        </ion-item>
      </ng-template>
    </ion-card>
  </ng-template>
</ion-content>
