.ion-page,
#root,
body,
ion-content.background {
    --background: url(../../../assets/img/fondo1111.svg) no-repeat fixed;

}

.buttonLogin {
    width: 85%;
    color: rgb(255, 255, 255);
    letter-spacing: 0.08rem;
    display: auto;
    margin: 0 auto;
}

ion-calendar {
    .days-btn.marked {
      background-color: #50c878; /* Color de fondo para fechas marcadas */
      color: white; /* Color del texto */
      border-radius: 50%; /* Opcional: forma circular */
    }
  
    .days-btn.marked.red {
      background-color: red;
    }
  
    .days-btn.marked.blue {
      background-color: blue;
    }
  
    .days-btn.marked.green {
      background-color: green;
    }
  
    .days-btn.marked.black {
      background-color: black;
    }
  }
  
  