.ion-page,
#root,
body,
ion-content.background {
    --background: url(../../../assets/img/fondo1111.svg) no-repeat fixed;

}

.buttonLogin {
    width: 85%;
    color: rgb(255, 255, 255);
    letter-spacing: 0.08rem;
    display: auto;
    margin: 0 auto;
}

ion-loading {
  z-index: 9999 !important;
}

full-calendar {
  display: block;
  width: 100%;
  height: calc(100vh - 200px); // Ajusta según tu layout
  z-index: 9999 !important;
}


/* Contenedor del spinner */
.loading-container {
  display: flex;
  flex-direction: column; /* Alinea el spinner y el texto verticalmente */
  justify-content: center;
  align-items: center;
  height: 100%; /* Toma toda la altura disponible del ion-content */
}

/* Estilo del spinner */
.custom-spinner {
  width: 70px; /* Tamaño del spinner */
  height: 70px;
  color: #ffffff; /* Color blanco del spinner */
}

/* Texto de carga */
.loading-text {
  margin-top: 10px;
  font-size: 1.2rem; /* Texto más grande */
  color: #ffffff; /* Letras blancas */
  font-weight: bold; /* Texto en negrita */
}

.calendar-header .month-title {
  color: white !important;
  font-size: 1.5rem !important;
  font-weight: bold !important;
}

.calendar-header .month-arrow {
  color: white !important;
}
