<ion-content class="background">
  <ion-card>
    <ion-card-header>
      <h2 style="color: black; font-weight: bold;">Documentos Online</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-text>Selecciona qué documentos deseas solicitar:</ion-text>
    </ion-card-content>
  </ion-card>

  <div class="certificates-grid">
    <ion-card class="certificate-card">
      <ion-card-header>
        <ion-card-title class="titulo">Certificado Alumno Regular</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="school-outline"></ion-icon>
      </ion-card-content>
    </ion-card>
    
    <ion-card class="certificate-card">
      <ion-card-header>
        <ion-card-title class="titulo">Certificado de Matrícula</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="clipboard-outline"></ion-icon>
      </ion-card-content>
    </ion-card>

    <ion-card class="certificate-card">
      <ion-card-header>
        <ion-card-title class="titulo">Certificado de Notas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="document-text-outline"></ion-icon>
      </ion-card-content>
    </ion-card>

    <ion-card class="certificate-card">
      <ion-card-header>
        <ion-card-title class="titulo">Certificado de Anotaciones</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-card-content>
    </ion-card>
    
    <!-- <ion-card class="certificate-card">
      <ion-card-header>
        <ion-card-title class="titulo">Certificado de Notas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="document-text-outline"></ion-icon>
      </ion-card-content>
    </ion-card>

    <ion-card class="certificate-card">
      <ion-card-header>
        <ion-card-title class="titulo">Certificado de Anotaciones</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-card-content>
    </ion-card> -->

  </div>
</ion-content>