<ion-content class="background">
  <ion-card style="width: 80%; margin: auto; margin-top: 20px; margin-bottom: 20px;">
    <ion-card-header>
      <h2 style="color: black;">Documentos Online</h2>
    </ion-card-header>
    <ion-card-content>
      <p>Selecciona qué documentos deseas solicitar, verifica tu carrito de certificados antes de iniciar el pago.</p>
      <p><b>Los pagos se realizan a través de WebPay</b></p>
    </ion-card-content>
  </ion-card>

  <div class="button-container">
    <!-- Botón para ver el carrito -->
    <div class="cart-button mx-2" [class.disabled]="carrito.length === 0" (click)="openCart()">
      <span class="cart-text">Ver Carrito</span>
      <ion-icon style="font-size: 60px;" name="cart-outline"></ion-icon>
      <ion-badge color="danger" *ngIf="carrito.length > 0">{{ carrito.length }}</ion-badge>
    </div>
    <!-- Botón para ver certificados disponibles (sólo habilitado si hay data) -->
    <div class="available-button mx-2" [class.disabled]="availableCertificates.length === 0"
      (click)="availableCertificates.length > 0 && openAvailableCertificates()">
      <span class="cart-text">Ver Certificados Disponibles</span>
      <ion-icon style="font-size: 60px;" name="document-text-outline"></ion-icon>
      <ion-badge color="danger" *ngIf="availableCertificates.length > 0">{{ availableCertificates.length }}</ion-badge>
    </div>
  </div>

  <div class="certificates-grid">
    <!-- Certificado Alumno Regular -->
    <ion-card class="certificate-card" [class.disabled]="!tieneCertificadoDisponible('Certificado Alumno Regular')"
      (click)="openCertificateModal('Certificado Alumno Regular')">
      <ion-card-header>
        <ion-card-title class="titulo">Certificado Alumno Regular</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon class="icons" name="school-outline"></ion-icon>
      </ion-card-content>
    </ion-card>

    <!-- Certificado de Matrícula -->
    <ion-card class="certificate-card" [class.disabled]="!tieneCertificadoDisponible('Certificado de Matrícula')"
      (click)="openCertificateModal('Certificado de Matrícula')">
      <ion-card-header>
        <ion-card-title class="titulo">Certificado de Matrícula</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon class="icons" name="clipboard-outline"></ion-icon>
      </ion-card-content>
    </ion-card>

    <!-- Certificado de Notas -->
    <ion-card class="certificate-card" [class.disabled]="!tieneCertificadoDisponible('Certificado de Notas')"
      (click)="openCertificateModal('Certificado de Notas')">
      <ion-card-header>
        <ion-card-title class="titulo">Certificado de Notas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon class="icons" name="document-text-outline"></ion-icon>
      </ion-card-content>
    </ion-card>

    <!-- Certificado de Anotaciones -->
    <ion-card class="certificate-card" [class.disabled]="!tieneCertificadoDisponible('Certificado de Anotaciones')"
      (click)="openCertificateModal('Certificado de Anotaciones')">
      <ion-card-header>
        <ion-card-title class="titulo">Certificado de Anotaciones</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon class="icons" name="checkmark-circle-outline"></ion-icon>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Modal de confirmación para agregar certificado -->
  <ion-modal #modal [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Agregar certificado a carrito?</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cancelModal()">Cancelar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <p>
          Este certificado tiene un costo de <b>$1000.</b> Una vez completada la compra, podrás descargar el(los)
          certificado(s) adquirido(s).
        </p>

        <div *ngIf="userData.length === 1">
          <ion-item>
            <ion-label>
              Alumno:
            </ion-label>
            <ion-text>
              {{ userData[0].primer_nombre_alumno }} {{ userData[0].primer_apellido_alumno }}
            </ion-text>
          </ion-item>
        </div>

        <!-- Si hay más de un estudiante se muestra un select -->
        <div *ngIf="userData.length > 1">
          <ion-item>
            <ion-label>Selecciona al estudiante</ion-label>
            <ion-select [(ngModel)]="selectedStudent" placeholder="Seleccione">
              <ion-select-option class="ion-text-center" *ngFor="let estudiante of userData" [value]="estudiante">
                <b>{{ estudiante.primer_nombre_alumno }} {{ estudiante.primer_apellido_alumno }}</b>
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <ion-button expand="full" (click)="confirmModal()">Agregar al carrito</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Modal para mostrar el detalle del carrito -->
  <ion-modal #cartModal [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title style="color: black;">Detalle del Carrito</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeCart()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let item of carrito">
            <ion-label slot="start">
              <h2>{{ item.certificado }}</h2>
              <p>Estudiante: {{ item.primer_nombre_alumno }} {{ item.primer_apellido_alumno }}</p>
              <p>Valor: ${{ item.valor }}</p>
            </ion-label>
            <!-- Botón con tres puntos para eliminar -->
            <ion-button fill="clear" slot="end" (click)="deleteCertificate(item)">
              <ion-icon style="font-size: x-large;" name="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
        <ion-button style="width: 85%; margin: auto; margin-top: 20px;" color="buttonLogin" color="danger" expand="block" shape="round" (click)="pagarConWebpay()">Pagar</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Modal para mostrar Certificados Disponibles -->
  <ion-modal #availableModal [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title style="color: black;">Certificados Disponibles</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeAvailableModal()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let cert of availableCertificates">
            <ion-label>
              <h2>{{ cert.certificateType }}</h2>
              <p>
                Alumno:
                {{ cert.primerNombreAlumno }}
                {{ cert.segundoNombreAlumno }}
                {{ cert.primerApellidoAlumno }}
                {{ cert.segundoApellidoAlumno }}
              </p>
              <p>Fecha de creación: {{ cert.createdAt | date:'short' }}</p>
              <p>Estado: {{ cert.isValid ? 'Validado' : 'No Validado' }}</p>
            </ion-label>
            <ion-button fill="clear" slot="end" (click)="downloadCertificate(cert.validationCode)">
              <ion-icon style="font-size: x-large;" name="download"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>